<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appinstalltime">

    <application>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="修改悟空浏览器(com.cat.readall)的首次安装时间为2026-01-01" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>

</manifest>
